{% extends 'base.html' %}
{% load static %}

{% block cambios %}
		
<header id="header">
	<h1 >Coder Pharma</h1>
	<p><a href="{% url 'productos' %}">Productos</a> &nbsp;&bull;&nbsp; <a href="{% url 'clientes' %}">Clientes</a> &nbsp;&bull;&nbsp; <a href="{% url 'empleados' %}">Empleados</a></p>
	<nav>
		<ul>
			<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
			<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
			<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
		</ul>
	</nav>                    
</header>


{% endblock cambios %}