{% extends 'base.html' %}
{% load static %}

{% block cambios %}
	
<header id="header">

	<form  action="" method="post">
		{% csrf_token %}
		<input  type="search" name="search" placeholder="Buscar producto" aria-label="Search">
		<button class="btn btn-outline-success text-nowrap ms-3 my-2 my-sm-0" type="submit"> <i class="bi bi-search"></i> Buscar</button>
		<a class="btn btn-outline-success text-nowrap ms-3 my-2 my-sm-0" href="{% url 'crear_producto' %}"> <i class="bi bi-plus-lg"></i> Crear Producto</a>
		{% comment %}
			{% url 'crear_producto' %}
		{% endcomment %}
	</form>

<h4>Resultados
{% if search %}
	para "{{busqueda}}":
{% else %}
	totales:
{% endif %}
</h4>
<br>
<div class="row gx-5 justify-content-center">
<div class="col-lg-10 table-responsive">
	<table class="table table-theme">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nombre</th>
				<th scope="col">Proveedor</th>
				<th scope="col">Precio</th>
				<th scope="col">Acciones</th>
			</tr>
		</thead>
		<tbody>
			
			{% for producto in productos %}
				<tr>
					<th scope="row">{{forloop.counter}}</th>
					<td>{{producto.nombre}}</td>
					<td>{{producto.proveedor}}</td>
					<td>{{producto.precio}}</td>
					<td>
						<a href="{% url 'editar_producto' producto.id %}" class="text-primary badge badge-primary text-decoration-none"> <i class="bi bi-pencil-square"></i> Editar</a>
						<a href="{% url 'eliminar_producto' producto.id %}" class="text-danger badge badge-danger text-decoration-none"> <i class="bi bi-x-square"></i> Eliminar</a>
						{% comment %}
							{% url 'editar_producto' producto.id %}
							{% url 'eliminar_producto' producto.id %}
						{% endcomment %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
</div>
</div>
</section>

</header>




	

{% endblock cambios %}