{% extends 'base.html' %}
{% load static %}

{% block cambios %}
	
<header id="header">

<section class="bg-light py-5">
    <div class="container px-5">
        <h2>Formulario Producto:</h2>
        <br>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-header text-center">
                        
                    </div>
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            
                            
                            <p>Nombre: <input style="color: black" type="text" name="nombre" id="" maxlength="50"> </p>
                            <p>Proveedor: <input style="color: black" type="text" name="proveedor" id="" maxlength="50"> </p>
                            <p>Precio: <input style="color: black" type="number" name="precio" id="" min="0"> </p> 
                        
                                                    
                            <input style="color: black" type="submit" class="btn btn-primary" value="Guardar Producto">
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
</header>

{% endblock cambios %}